@import "../node_modules/@fontsource/roboto/300.css";
@import "../node_modules/@fontsource/roboto/400.css";
@import "../node_modules/@fontsource/roboto/700.css";
@import "../node_modules/@fontsource/roboto-serif/400.css";
@import "../node_modules/@fontsource/roboto-serif/700.css";
.ff-roboto {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.ff-serif {
  font-family: "Roboto Serif", Georgia, "Times New Roman", serif !important;
}

body {
  font-family: "Roboto Serif", Georgia, "Times New Roman", serif;
  letter-spacing: 0.0225rem;
  color: #f8f9fa;
}

#Linhas .card-body {
  color: #0a0a0a;
}

.catalog__btn--left {
  width: 2rem;
  color: #0a0a0a;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 1rem;
  transform: translate-y(-50%);
  border-radius: 1rem;
  border: none;
}

.catalog__btn--right {
  width: 2rem;
  color: #0a0a0a;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 1rem;
  transform: translate-y(-50%);
  border-radius: 1rem;
  border: none;
}
